.iconDiv {
    position: fixed;
    right: 0.75rem;
    bottom: 0.75rem;
    cursor: pointer;
}

.iconWrapper {
    position: fixed;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #831843;
    color: #ffffff;
    right: 0.75rem;
    bottom: 0.75rem;
    cursor: pointer;
}

@media (min-width: 1024px) {
    .iconWrapper {
        bottom: 1.25rem;
        right: 1.25rem;
    }
}